@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Poppins:700&display=swap');


body {
  background: url('./brooke-lark-wMzx2nBdeng-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

/****** LOGIN AND SIGNUP styles ******/

.signup {
  padding: 15% 30%;
}

.ant-form-item {
  margin-bottom: 5px;
}

.login {
  padding: 15% 30%;
}

/****** LANDING PAGE styles ******/
#link-container {
  opacity: 0;
}

#landing-title {
  opacity: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 5px;
  top: 48%;
  left: 48%;
  font-size: 8rem;
  font-weight: 100;
  line-height: 6.2rem;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', serif;
}

#landing-banner {
  z-index: -1;
  position: absolute;
  background-color: #a2a2a2;
  height: 70px;
  width: 1%;
  opacity: 0.4;
  top: 67%;
}

#link-signup {
  position: absolute;
  top: 69%;
  left: 52%;
  font-family: 'Poppins', serif;
  transition: all .4s;
  z-index: 1;
  font-size: 1.4rem;
}

#link-signup:hover {
  color: white;
}

#link-login {
  position: absolute;
  top: 69%;
  left: 37%;
  font-family: 'Poppins', serif;
  transition: all .4s;
  z-index: 1;
  font-size: 1.4rem;
}

#link-login:hover {
  color: white;
}

/****** HOME PAGE Styles ******/

.home {
  background-color: #DEE5E5;
  /* height: 100vh; */
  min-height: 150vh;
}

/****** NAVBAR Styles ******/

.anticon {
  vertical-align: 0.2em;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  background-color: #9DC5BB;
}

.menu-title {
  top: -2px !important;
  float: left;
  font-weight: 800;
  font-size: 2.0rem;
  color: #082D0F !important;
  cursor: default !important;
}

.ant-menu-horizontal {
  border-bottom: 2px solid #082D0F;
}

.ant-menu-horizontal > .ant-menu-item > a {
  display: block;
  color: #082D0F;
}

li.ant-menu-item.logout {
  color: #082D0F;
}

.ant-menu {
  padding: 10px;
}

.ant-menu-horizontal > .ant-menu-item {
 border-bottom: 0px !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 0px !important;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
    color: white;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
    color: white;
    text-decoration: none;
}

/****** CARD Styles ******/
.card-display {
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
}

.card-container {
  padding: 5px;
}

.card-body {
  padding: 0.5rem;
}

.card-text {
  font-size: .7rem;
  color: black;
}

.food-image {
  max-width:700px;
  max-height:700px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card:hover {
    border: 2px solid #17B890;
}

.card {
  height: 250px;
  transition: all .3s;
}

.col-md-4 {
  padding-bottom: 15px;
}

img.card-img-top.food-image {
  width: 100%;
  height: 55vw;
  object-fit: cover;
  transition: all .4s;
}

img.card-img-top.food-image:hover {
  opacity: .6;
  cursor: pointer;
}

a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .card-display {
    display: inline;
  }

  .food-image {
    max-width: 345px;
    max-height:300px;
  }

  .card {
    width: 95%;
    margin-left: 2%;
  }
}

/****** MEAL PAGE Styles ******/
.search-bar {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px
}

span.ant-input-search.ant-input-affix-wrapper {
    padding-right: 5px;
}

.page-title {
  margin-top: 25px;
  margin-bottom: 20px;
}

.ant-btn-primary, .ant-btn-primary:active, .ant-btn-primary.active
 {
  background-color: #17B890;
  border-color: #17B890;
 }

.ant-input:focus {
  border-color: #17B890;
}

.ant-input:hover {
  border-color: #17B890;
  border-right-width: 1px !important;
}

.ant-btn-primary:hover {
  color: #fff;
  background-color: #17b89091;
  border-color: #17b89091;
}

.ant-btn-primary:focus {
  background-color: #17B890;
  border-color: #17B890;
}

/****** PLANNER PAGE Styles ******/
.date-col {
  flex: 1;
  padding-right: 5px
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  margin-top: 40px;
}

/****** MEALDATE Component Styles ******/
.col-body {
  background-color: white;
  height: 65vh;
  border-radius: 5px;
  position: relative;
}

.add-meal-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f1d160;
  border-radius: 2px 2px 5px 5px;
}

.add-meal-button-icon {
  vertical-align: 0.1em;
}

/****** RECIPE DETAILS Component Styles ******/
.food-detail-image-container {
  float: left;
}

.img {
  border: 1px solid;
  position: relative;
  width: 400px;
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}

.sub-container {
  display: flex;
  justify-content: center;
}

.ingredients-list {
  text-align: left;
  list-style: none;
}

.directions {
  display: flex;
  justify-content: center;
  padding: 5% 5%;
}

#recipe-details-container {
  width: 75%;
}

/* MealForm Styles */

.form-mode {
  border: 3px solid rgba(85,177,143);
}
