@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Poppins:700&display=swap');

body {
  background: url('./brooke-lark-wMzx2nBdeng-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
}

.signup {
  padding: 240px 30%;
}

.ant-form-item {
  margin-bottom: 5px;
}

.login {
  padding: 20% 30%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LANDING PAGE CSS */

#landing-banner {
  background-color: #a2a2a2;
  height: 70px;
  opacity: 0.4;
  left: -3000px;
  top: 483px;
  position: relative;
  z-index: -10;
}

#link-container {
  opacity: 0;
}

#landing-title {
  opacity: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 5px;
  top: 0%;
  left: 48%;
  font-size: 8rem;
  font-weight: 100;
  line-height: 6.2rem;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', serif;
}

#link-signup {
  position: absolute;
  top: 66%;
  left: 52%;
  font-family: 'Poppins', serif;
  transition: all .4s;
}

#link-signup:hover {
  color: white;
}

#link-login {
  position: absolute;
  top: 66%;
  left: 37%;
  font-family: 'Poppins', serif;
  transition: all .4s;
}

#link-login:hover {
  color: white;
}
