@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Poppins:700&display=swap');

body {
  background: url('./brooke-lark-wMzx2nBdeng-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

/****** LOGIN AND SIGNUP styles ******/

.signup {
  padding: 240px 30%;
}

.ant-form-item {
  margin-bottom: 5px;
}

.login {
  padding: 240px 30%;
}

/****** LANDING PAGE styles ******/
#link-container {
  opacity: 0;
}

#landing-title {
  opacity: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 5px;
  top: 48%;
  left: 48%;
  font-size: 8rem;
  font-weight: 100;
  line-height: 6.2rem;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', serif;
}

#landing-banner {
  z-index: -1;
  position: absolute;
  background-color: #a2a2a2;
  height: 70px;
  width: 1%;
  opacity: 0.4;
  top: 67%;
}

#link-signup {
  position: absolute;
  top: 69%;
  left: 52%;
  font-family: 'Poppins', serif;
  transition: all .4s;
  z-index: 1;
}

#link-signup:hover {
  color: white;
}

#link-login {
  position: absolute;
  top: 69%;
  left: 37%;
  font-family: 'Poppins', serif;
  transition: all .4s;
  z-index: 1;
}

#link-login:hover {
  color: white;
}

/****** HOME PAGE Styles ******/

.home {
  background-color: #DEE5E5;
  height: 100vh;
}

/****** NAVBAR Styles ******/

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  background-color: #9DC5BB;
}

.menu-title {
  float: left;
  font-weight: 800;
  font-size: 1.3rem;
  color: #082D0F !important;
  cursor: default !important;
}

.ant-menu-horizontal {
  border-bottom: 2px solid #082D0F;
}

.ant-menu-horizontal > .ant-menu-item > a {
  display: block;
  color: #082D0F;
}

li.ant-menu-item.logout {
  color: #082D0F;
}

.ant-menu {
  padding: 5px;
}

.ant-menu-horizontal > .ant-menu-item {
 border-bottom: 0px !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 0px !important;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
    color: white;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
    color: white;
}
